Mod 5 Bonus - Mike Abbinante

In [1]:
import pandas as pd

In [2]:
zips = pd.Series({'Boston' : '02215', 'Miami' : '3310'})

In [3]:
zips

Boston    02215
Miami      3310
dtype: object

In [4]:
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [5]:
import re

In [6]:
'Valid' if re.fullmatch(r'\d{5}' , '02215') else 'Invalid'

'Valid'

In [7]:
'Valid' if re.fullmatch(r'\d{5}' , '3310') else 'Invalid'

'Invalid'

In [8]:
cities = pd.Series(['Boston, MA 02215' , 'Miami, FL 33101'])

In [9]:
cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [10]:
cities.str.contains(r'[A-Z]{2}')

0    True
1    True
dtype: bool

In [11]:
cities.str.match(r'[A-Z]{2}')

0    False
1    False
dtype: bool

In [12]:
contacts = [['Mike Green', 'demo1@deital.com', '5555555555'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [13]:
contactsdf = pd.DataFrame(contacts,
                          columns = ['Name', 'Email', 'Phone'])

In [14]:
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deital.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [15]:
import re
#returns phone numbers in the correct format

def get_formatted_phone(value):
    
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value) 
    
    return '-'.join(result.groups()) if result else value

In [16]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [17]:
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [18]:
contactsdf['Phone'] = formatted_phone

In [19]:
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deital.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234

In [20]:
# Mike Abbinante